.rollButton {
    width: 400px;
    height: 100px;
    background-color: #fee4f0;
    border: 0;
    text-align: center;
    color: #480048;
    display: inline-block;
    position: relative;
    font-size: 40px;
    padding: 0;
    line-height: 100px;
    outline: none;
    cursor: pointer;
    border-radius: 60px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    user-select: none;
    /*font-family: 'Engagement', cursive;*/
    overflow: hidden;
}

.rollButton:hover {
    background-color: #fff;
}
