.rollHistory {
    width: 400px;
    height: 200px;
    overflow-x: visible;
    overflow-y: hidden;
}

.rollHistory__label {
    color: #fff;
    display: block;
    border-bottom: 1px dashed rgba(255,255,255,0.4);
    margin-top: 0;
    line-height: 30px;
}

.rollHistory__notice {
    color: #df8183;
    font-style: italic;
}

.rollHistory__clear {
    float: right;
    font-weight: normal;
    font-size: 0.9em;
    cursor: pointer;
}

.rollHistory__clear i {
    margin-right: 8px;
    color: #ddc737;
}

.rollHistoryItem {
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    width: 30px;
    display: inline-block;
    margin: 5px;
    height: 30px;
}
