.scene {
    width: 400px;
    height: 400px;
    perspective: 600px;
    margin: 0 0 100px;
    user-select: none;
}

.cube {
    width: 400px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-200px);
    transition: transform 0.7s;
}

.cube__face {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 1px solid rgba(255,255,255,0.8);
    line-height: 400px;
    font-size: 120px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,0.45);
    color: #ccc;
    text-align: center;
    background-color: rgba(0,0,0,0.25);
    transition: 0.7s;
}


.cube__face--1 { transform: rotateY(  0deg) translateZ(200px); }
.cube__face--2 { transform: rotateY( 90deg) translateZ(200px); }
.cube__face--3 { transform: rotateY(180deg) translateZ(200px); }
.cube__face--4 { transform: rotateY(-90deg) translateZ(200px); }
.cube__face--5 { transform: rotateX( 90deg) translateZ(200px); }
.cube__face--6 { transform: rotateX(-90deg) translateZ(200px); }

.cube.show-1 { transform: translateZ(-200px) rotateY(   0deg); }
.cube.show-2 { transform: translateZ(-200px) rotateY( -90deg); }
.cube.show-3 { transform: translateZ(-200px) rotateY(-180deg); }
.cube.show-4 { transform: translateZ(-200px) rotateY(  90deg); }
.cube.show-5 { transform: translateZ(-200px) rotateX( -90deg); }
.cube.show-6 { transform: translateZ(-200px) rotateX(  90deg); }

.cube.show-1 .cube__face--1,
.cube.show-2 .cube__face--2,
.cube.show-3 .cube__face--3,
.cube.show-4 .cube__face--4,
.cube.show-5 .cube__face--5,
.cube.show-6 .cube__face--6 {
    font-size: 160px;
    color: #fff;
}

.cube.show-1 .cube__face--3,
.cube.show-2 .cube__face--4,
.cube.show-3 .cube__face--1,
.cube.show-4 .cube__face--2,
.cube.show-5 .cube__face--6,
.cube.show-6 .cube__face--5
{   color: #873159;
    font-size: 80px; }
