.dialog {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-wrapper {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 50%;
    border-radius: 3px;
    font-size: 17px;
    text-align: center;
}

.dialog-content {
    padding: 20px;
}

.dialog-content div > i {
    font-size: 30px;
    margin-right: 10px;
    position: relative;
    top: 6px;
}

.dialog-content.successful div > i {
    color: #77d22d;
}

.dialog-content.unsuccessful div > i {
    color: #660c17;
}

.dialog-nav {
    padding: 20px;
    background-color: #eee;
}

.dialog-nav i {
    margin-right: 20px;
}

button {
    height: 60px;
    background-color: #fff;
    text-align: center;
    color: #480048;
    display: inline-block;
    position: relative;
    font-size: 28px;
    padding: 0 60px;
    line-height: 60px;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid #ddd;
    transition: 0.2s;
    user-select: none;
}

button:hover {
    border-color: #480048;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 16px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}