.app {
  background: #C04848;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 15vh;
}

header h1 {
  font-family: 'Engagement', cursive;
  color: #fff;
  font-size: 80px;
  text-align: center;
  margin: 0;
  padding-top: 4vh;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  flex-direction: row;
}

.wrapper > div {
  margin: 0 50px;
}
