.rollGame {
    width: 400px;
    height: 460px;
    overflow: auto;
}

.gameOver-true .rollGameItem {
    pointer-events: none;
}

.gameOver-true .rollGameItem.visible-false {
    opacity: 0.5;
}

.rollGame__label {
    color: #fff;
    display: block;
    border-bottom: 1px dashed rgba(255,255,255,0.4);
    margin-top: 0;
    line-height: 30px;
}

.rollGame__notice {
    color: #df8183;
    font-style: italic;
}

.rollGame__clear {
    float: right;
    font-weight: normal;
    font-size: 0.9em;
    cursor: pointer;
}

.rollGame__clear i {
    margin-right: 8px;
    color: #ddc737;
}

.rollGameItem {
    text-align: center;
    color: #fff;
    font-size: 50px;
    line-height: 120px;
    width: 120px;
    display: inline-block;
    margin: 5px;
    height: 120px;
    background-color: rgba(0,0,0,0.2);
}
